/* On the `body`, set the following properties:
    - Margin should be 0px;
    - Set the box-sizing to include the borders on elements 
    - Align elements in the center of the body
*/


/* On all `div` elements, set the following properties:
    - Set a 1 pixel solid blue border
    - Change the display property to allow elements to be displayed inline (_and_ to change their width)
    - Set the width to 25%
    - Position the inner elements in the center
    - Set the padding to 20 pixels
    - Set the margin-top to 45% of the vertical height
*/

